.navbar__menu i {
  font-size: 12px;
}
.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}
.navbar__menu > ul > li > a {
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--black--text);
}
.navbar {
  background-color: var(--gray--color);
}
.navbar__logo h3 a {
  font-family: "Cinzel", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;

  color: var(--black--text);
}
