.header__body__button {
  border: 1px solid #2272ff;
  background-color: #2272ff;
  padding: 30px 20px;
  cursor: pointer;
  position: absolute;
  bottom: 220px;
  right: 16px;
}
.header__body__button h3 {
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #fff5f5;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutus__text h3 {
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  color: var(--black--text);
}
.aboutus__text__subtitle h3 {
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;

  color: var(--black--text);
}
.aboutus {
  display: flex;
  align-items: center;
  gap: 130px;
  padding: 160px 20px;
}
.aboutus_us {
  display: flex;
  align-items: start;
  gap: 50px;
  margin-bottom: 16px;
}

.workers {
  background: #000000;
}

.workers__slider_right {
  position: absolute;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  color: white;
  background: #2272ff;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(50%);
  cursor: pointer;
  right: 170px;
  margin-top: 90px;
}
.workers__text h2 {
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: var(--white--text);
}
.workers__text {
  padding: 100px 2px 70px;
}
.workers__profile h4 {
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 30px;
  color: var(--white--text);
}
.workers__body img {
  width: 387px;
  height: 452px;
}
.question {
  display: flex;
  align-items: center;
}
.questions h2 {
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;

  color: var(--black--text);
  margin-bottom: 120px;
  margin-top: 120px;
}
.question {
  font-weight: bold;
  cursor: pointer;
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: var(--black--text);
  margin-bottom: 70px;
}

.title {
  text-align: center;
}

.answer {
  display: none;
  margin-bottom: 10px;
  font-family: var(--main--font);
  color: var(--black--text);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 47px;
  margin-bottom: 70px;
}

.answer p {
  margin: 0;
}

.workers__body {
  margin-bottom: 190px;
}
.workers__body h4 {
  margin-top: 20px;
}
.profile__btns button {
  background: #2272ff;
  border: 1px solid #2272ff;
  padding: 15px 20px;
  margin-top: 345px;
  color: black;
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
.profile__wrapper h4 {
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.profile__wrapper {
  display: flex;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 200px;
}
.profile_videos h4 {
  font-family: var(--main--font);
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  margin-top: 140px;
  margin-bottom: 55px;
}
.profile_videos h3 {
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  margin-top: 20px;
}
.profile_videos p {
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-top: 70px;
}
.profile__btn button {
  border: 1px solid #2272ff;
  color: #000000;
  padding: 10px 80px;
  background: #2272ff;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}
.test h2 {
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  margin-top: 100px;
  margin-bottom: 100px;
}
.test__box h3 {
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 45px;
}
.test__box p {
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-top: 45px;
}
.test__box button {
  font-family: var(--main--font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  border: 1px solid #2272ff;
  background: #2272ff;
  padding: 5px 100px;
  margin-top: 45px;
  margin-bottom: 85px;
}
.test__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 85px;
}

.test__box-item img {
  width: 589px;
  height: 650px;
}
